// @import '../../assets/styles/variables.styl'


// .checkbox
//   display: flex
//   align-items: center

//   input[type="checkbox"]
//     display: none

// .icon
//   position: relative
//   display: inline-block
//   margin-right: em(15)
//   width: em(20)
//   height: em(20)
//   border: 1px solid _border-color
//   border-radius: (_border-radius)px

// .svg
//   width: 100%
//   height: 100%
