// .col
//   position: relative
//   // flex: 0 1 auto

//   flex: 1 0 0

//   // padding-left: 10px
//   // padding-right: 10px
//   width: 100%
//   min-height: 1px
//   max-width: 100%

//   // &-fit
//   //   flex-basis: : 
.col
  position: relative
  flex: 1 1 0
  width: 100%
  max-width: 100%
  min-height: 1px

cols = 14

for size in (320 480 640 800 960 1120 1200)
  for n in (1..cols)
    .w{ size }-{ n }
      position: relative
      width: 100%
      min-height: 1px

      @media (min-width: unit(size + 1, 'px'))
        flex: 0 0 unit(n/cols*100, '%')
        max-width: unit(n/cols*100, '%')

for size in (320 480 640 800 960 1120 1200)
  .hide-{ size }
    @media (max-width: unit(size, 'px'))
      display: none !important


.grid
  display: flex
  flex: 0 1 auto
  flex-wrap: wrap

  &.center
    justify-content: center

  &.space-between
    justify-content: space-between

  &.column
    flex-direction: column
    flex-wrap: nowrap

// for n in (1..3)
//   .row{ n }
//     & > .item
//       padding-bottom: unit((n*10), 'px')

.padded
  &.grid
    margin-left: -12px
    margin-right: -12px

  & > .item
    padding-left: 12px
    padding-right: 12px
