@import '../../assets/styles/variables.styl'


_icon-width = 30

.input-container
  position: relative
  display: inline-flex
  width: 100%

.input-element
  flex: 1 0 auto
  margin: 0
  padding: em(2 5)
  max-width: 100%
  color: black
  font-size: 100%
  text-align: left
  background-color: white
  border: 1px solid _border-color
  border-radius: (_border-radius)px
  box-shadow: none
  outline: 0

  &:focus
    border-color: _border-color-active

  .clearable &
    padding-right: em(_icon-width)

.icon
  position: absolute
  top: 0
  right: 0
  display: inline-block
  margin: 0
  width: em(_icon-width)
  height: 100%
  text-align: center
  cursor: pointer

  &:hover
    .svg
      fill: black

.svg
  position: absolute
  top: 50%
  left: 50%
  display: block
  margin-top: em(-5.5)
  margin-left: em(-6)
  width: em(10)
  height: em(10)
  fill: _grey


.size1
  .input-element
    padding: em(5 10)

.size2
  .input-element
    padding: em(8 20)
