fontSize = 16px


// COLORS
_green = #13d673
_green-pale = alpha(_green, 0.7)
_green-dark = darken(_green, 20%)

_blue = #78c0dc
_blue-pale = alpha(_blue, 0.7)
_blue-dark = darken(_blue, 20%)
_blue-light = lighten(_blue, 50%)

_red = crimson
_red-pale = alpha(_red, 0.7)
_red-dark = darken(_red, 20%)

_grey = grey
_grey-light = lighten(_grey, 50%)
// COLORS END


_border-color = _grey-light
_border-color-active = _blue

// MEASURES
_border-radius = 2
// MEASURES END
