:global
  @import '../../../../node_modules/react-ui/dist/components/button/style.css?raw'
    
@import '../../assets/styles/variables.styl'


.green
  color: white
  background-color: alpha(green, 0.7)
  border-color: darken(green, 20%)

.red
  color: white
  background-color: alpha(red, 0.7)
  border-color: darken(red, 20%)

.grey
  color: black
  background-color: white
  border-color: lighten(grey, 50%)

.blue
  color: white
  background-color: blue
  border-color: darken(blue, 20%)
