@import 'react-ui/dist/components/button/style.css'; /* == @import "../../../../node_modules/react-ui/dist/components/button/style.css"; */
@import '../../assets/styles/variables.css';

.green {
  color: white;
  background-color: color($green a(70%));
  border-color: color($green shade(20%));
}

.red {
  color: white;
  background-color: color($red a(70%));
  border-color: color($red shade(20%));
}

.grey {
  color: black;
  background-color: white;
  border-color: color(grey a(50%));
}

.blue {
  color: white;
  background-color: color($blue);
  border-color: color($blue shade(20%));
}
