// @import '../../../../node_modules/react-ui/dist/components/button/style.css?raw'
@import '../../assets/styles/variables.styl'


.button
  display: inline-block
  vertical-align: baseline
  margin: 0
  padding: em(2 10)
  color: black
  font-size: inherit
  text-align: center
  background-color: transparent
  border: 1px solid black
  border-radius: em(2)
  outline: 0
  cursor: pointer

  &:focus
    border-color: _blue

.inner {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon {
  display: inline-block;
  width: em(16);
  height: em(16);
}

.icon:not(.right) {
  margin-right: em(10);
}

.icon:not(.right):last-child {
  margin-right: 0;
}

.icon.right {
  margin-left: em(10);
}

.icon.right:first-child {
  margin-left: 0;
}


.size1 {
  padding: em(5 15);
}

.size2 {
  padding: em(8 20);
}


.green
  color: white
  background-color: _green-pale
  border-color: _green-dark

.red
  color: white
  background-color: _red-pale
  border-color: _red-dark

.grey
  color: black
  background-color: white
  border-color: _grey-light

.blue
  color: white
  background-color: _blue
  border-color: _blue-dark
