@import '../../assets/styles/variables.styl'
@import '../input/style.styl'


.select
  position: relative
  display: inline-block

.select-dropdown
  position: absolute
  top: 100%
  width: 100%
  background-color: white
  border: 1px solid _grey-light
  border-top: none
  border-radius: (_border-radius)px
  z-index: 10

.select-list
  margin: 0
  padding: 0
  list-style: none

.select-item
  padding: em(5 10)
  border-top: 1px solid transparent
  border-bottom: 1px solid transparent

  &:hover
    background-color: alpha(_blue, 0.05)
    cursor: pointer

  &.active
    background-color: alpha(_blue-light, 0.4)